VITE_API_KEY=AIzaSyB2ENzP3y8Xr-N1IvH0b3akR2e5k_-rkEI
VITE_AUTH_DOMAIN=task-management-redux-c3ab0.firebaseapp.com
VITE_PROJECT_ID=task-management-redux-c3ab0
VITE_STORAGE_BUCKET=task-management-redux-c3ab0.firebasestorage.app
VITE_MESSAGING_SENDER_ID=374317290099
VITE_APP_ID=1:374317290099:web:50aa409f945ecfc9d3d006

VITE_API_URL=http://localhost:5000